<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoshan.linkvote.vote.mapper.VoteUserMapper">
    <resultMap id="BaseResultMap" type="com.gaoshan.linkvote.vote.entity.VoteUser">
        <!--@mbg.generated-->
        <!--@Table t_vote_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="vote_id" jdbcType="BIGINT" property="voteId"/>
        <result column="opt_id" jdbcType="BIGINT" property="optId"/>
        <result column="vote_time" jdbcType="TIMESTAMP" property="voteTime"/>
        <result column="hash" jdbcType="VARCHAR" property="hash"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, vote_id, opt_id, vote_time, hash, address, status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_vote_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from t_vote_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gaoshan.linkvote.vote.entity.VoteUser"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_vote_user (user_id, vote_id, opt_id,
        vote_time,hash,address,status)
        values (#{userId,jdbcType=BIGINT}, #{voteId,jdbcType=BIGINT}, #{optId,jdbcType=BIGINT},
        #{voteTime,jdbcType=TIMESTAMP},#{hash},#{address},#{status})
    </insert>

    <!--auto generated by MybatisCodeHelper on 2019-10-21-->
    <select id="selectByVoteIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_vote_user
        where vote_id=#{voteId,jdbcType=BIGINT}
        and user_id=#{userId,jdbcType=BIGINT}
        and hash is not null
        -- and status = '2'
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-10-21-->
    <select id="countByVoteIdAndOptId" resultType="java.lang.Long">
        select count(DISTINCT `user_id`)
        from t_vote_user
        where vote_id = #{voteId,jdbcType=BIGINT}
        and opt_id = #{optId,jdbcType=BIGINT}
        and status = '2'
    </select>
    <insert id="insertBatch">
        insert into t_vote_user (user_id, address, status, vote_id, opt_id,
        vote_time)
        values
        <foreach collection="optionIdList" separator="," item="item">
            (#{userId,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, '0', #{voteId,jdbcType=BIGINT},
            #{item,jdbcType=BIGINT}, now())
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2019-10-21-->
    <select id="selectAllByOptId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_vote_user
        where opt_id=#{optId,jdbcType=BIGINT}
        and status = '2'
        order by vote_time desc
    </select>

    <update id="updateVoteHash">
        update t_vote_user
        set hash = #{hash,jdbcType=VARCHAR},
        status = '1'
        where user_id = #{userId}
        and vote_id = #{voteId}
    </update>

    <update id="updateStatus">
        update t_vote_user
        set status = #{status}
        where user_id = #{userId}
        and vote_id = #{voteId}
    </update>
    <select id="selectUnConfirmedHash" resultMap="BaseResultMap">
        select MAX(id)        id,
               MAX(user_id)   user_id,
               MAX(vote_id)   vote_id,
               MAX(vote_time) vote_time,
               `hash`
        from t_vote_user
        where hash is not null
          and status = '1'
        group by `hash`
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-11-13-->
    <delete id="deleteByVoteIdAndUserId">
        delete from t_vote_user
        where vote_id=#{voteId,jdbcType=BIGINT}
        and user_id=#{userId,jdbcType=BIGINT}
    </delete>
</mapper>