<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoshan.linkvote.vote.mapper.VoteUserMapper">
    <resultMap id="BaseResultMap" type="com.gaoshan.linkvote.vote.entity.VoteUser">
        <!--@mbg.generated-->
        <!--@Table t_vote_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="vote_id" jdbcType="BIGINT" property="voteId"/>
        <result column="opt_id" jdbcType="BIGINT" property="optId"/>
        <result column="vote_time" jdbcType="TIMESTAMP" property="voteTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, vote_id, opt_id, vote_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_vote_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from t_vote_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gaoshan.linkvote.vote.entity.VoteUser"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_vote_user (user_id, vote_id, opt_id,
        vote_time)
        values (#{userId,jdbcType=BIGINT}, #{voteId,jdbcType=BIGINT}, #{optId,jdbcType=BIGINT},
        #{voteTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.gaoshan.linkvote.vote.entity.VoteUser" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_vote_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="voteId != null">
                vote_id,
            </if>
            <if test="optId != null">
                opt_id,
            </if>
            <if test="voteTime != null">
                vote_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="voteId != null">
                #{voteId,jdbcType=BIGINT},
            </if>
            <if test="optId != null">
                #{optId,jdbcType=BIGINT},
            </if>
            <if test="voteTime != null">
                #{voteTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gaoshan.linkvote.vote.entity.VoteUser">
        <!--@mbg.generated-->
        update t_vote_user
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="voteId != null">
                vote_id = #{voteId,jdbcType=BIGINT},
            </if>
            <if test="optId != null">
                opt_id = #{optId,jdbcType=BIGINT},
            </if>
            <if test="voteTime != null">
                vote_time = #{voteTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gaoshan.linkvote.vote.entity.VoteUser">
        <!--@mbg.generated-->
        update t_vote_user
        set user_id = #{userId,jdbcType=BIGINT},
        vote_id = #{voteId,jdbcType=BIGINT},
        opt_id = #{optId,jdbcType=BIGINT},
        vote_time = #{voteTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-10-21-->
    <select id="selectByVoteIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_vote_user
        where vote_id=#{voteId,jdbcType=BIGINT}
        and user_id=#{userId,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-10-21-->
    <select id="countByVoteIdAndOptId" resultType="java.lang.Long">
        select count(1)
        from t_vote_user
        where vote_id=#{voteId,jdbcType=BIGINT} and opt_id=#{optId,jdbcType=BIGINT}
    </select>
    <insert id="insertBatch">
        insert into t_vote_user (user_id, vote_id, opt_id,
        vote_time)
        values
        <foreach collection="optionIdList" open="(" close=")" separator="," item="item">
            #{userId,jdbcType=BIGINT}, #{voteId,jdbcType=BIGINT},
            #{item,jdbcType=BIGINT}, now()
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2019-10-21-->
    <select id="selectAllByOptId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_vote_user
        where opt_id=#{optId,jdbcType=BIGINT}
        order by vote_time desc
    </select>
</mapper>