<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoshan.linkvote.user.mapper.WhiteUserMapper">
    <resultMap id="BaseResultMap" type="com.gaoshan.linkvote.user.entity.WhiteUser">
        <!--@mbg.generated-->
        <!--@Table t_white_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="white_id" jdbcType="BIGINT" property="whiteId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, white_id, user_id, address
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_white_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from t_white_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gaoshan.linkvote.user.entity.WhiteUser"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_white_user (white_id, user_id, address
        )
        values (#{whiteId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.gaoshan.linkvote.user.entity.WhiteUser" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_white_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="whiteId != null">
                white_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="address != null">
                address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="whiteId != null">
                #{whiteId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gaoshan.linkvote.user.entity.WhiteUser">
        <!--@mbg.generated-->
        update t_white_user
        <set>
            <if test="whiteId != null">
                white_id = #{whiteId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gaoshan.linkvote.user.entity.WhiteUser">
        <!--@mbg.generated-->
        update t_white_user
        set white_id = #{whiteId,jdbcType=BIGINT},
        user_id = #{userId,jdbcType=BIGINT},
        address = #{address,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-10-21-->
    <select id="selectAllByWhiteId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_white_user
        where white_id=#{whiteId,jdbcType=BIGINT}
        order by address
    </select>
    <insert id="batchInsert">
        insert into t_white_user (white_id,address) values
        <foreach collection="addressList" item="item" separator=",">
            (#{id,jdbcType=BIGINT},#{item,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2019-11-08-->
    <select id="selectAddressByWhiteId" resultType="java.lang.String">
        select address
        from t_white_user
        where white_id=#{whiteId,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-11-14-->
    <select id="countByWhiteIdAndAddress" resultType="java.lang.Long">
        select count(1)
        from t_white_user
        where white_id=#{whiteId,jdbcType=BIGINT}
        and address=#{address,jdbcType=VARCHAR}
    </select>
</mapper>